#header {
            background-color: #14263d;
            border-color: #14263d;
            padding-bottom: 5px;
            color: #ebebeb;
            border-radius: 5px;
        }
        #mainBody{
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
        }

        .app {
            padding: 15px;
            background-color: #ececec;
            max-width: 500px;
            border-radius: 10px;
            border-color: #ececec;
            border-bottom-style: solid;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        }

        .generator{
            max-width: 500px;
        }

        .results {
            max-width: 1000px;
        }

        .users {
            max-width: 70px;
        }

        .select {
            max-width: 160px;
        }

        .error {
            background-color: #ddcacd;
            padding: 10px;
            border-radius: 5px;
        }